<mat-toolbar>
    <span>
        <!--haciendor referencia a la pagina lading-->
        <a mat-button routerLink="">
            <mat-icon>local_movies</mat-icon> Angular Peliculas
        </a>
    </span>
    <div>
        <a mat-button routerLink="peliculas/filtrar">
            <mat-icon>search</mat-icon>
            Buscar películas</a>
    </div>

    <!--solo apacera si soy admin-->
    <app-autorizado rol="admin">
        <ng-container autorizado>
            <div>
                <!--haciendo referencia a generos de app.route-->
                <a mat-button routerLink="generos">Géneros</a>
            </div>
            <div>
                <a mat-button routerLink="actores">Actores</a>
            </div>
            <div>
                <a mat-button routerLink="cines">Cines</a>
            </div>
            <div>
                <a mat-button routerLink="peliculas/crear">Crear pelicula</a>
            </div>
        </ng-container>
    </app-autorizado>

    <!--espacio entre menu y login-->
    <div class="espacio"></div>

    <app-autorizado style="display:inline">
        <ng-container autorizado>
            <span class="saludo">Hola, {{seguridadService.obtenerCampoJWT('email')}} </span>
            <a mat-button (click)="seguridadService.logout()">Logout</a>
        </ng-container>
        <ng-container noAutorizado>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="registrar">Registro</a>
        </ng-container>
    </app-autorizado>

</mat-toolbar>